.section {
    &_login {
        display: flex;
        justify-content: center;
        align-items: center;
       position: relative;
       width: 100vw;
       height: 100vh;
       background-color: $blue;  
       
           @include phones() { 
           	height: auto;
		        min-height: 100vh;  
		    }

    }


}